<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edycja uzytkownika</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/myUsers/zapiszIstniejacego/{userId}(userId=*{id})}" method="post" th:object="${editedUser}">
        <div class="form-group">
            <label for="name">Login</label>
            <td><input type="text" class="form-control" placeholder="Podaj login" id="name"  th:field="*{name}"/></td>
        </div>

        <div class="form-group">
            <label for="firstName">Imie</label>
            <td><input type="text" class="form-control" placeholder="Podaj imie" id="firstName" name="firstName" th:value="*{firstName}"/></td>
        </div>

        <div class="form-group">
            <label for="surname">Nazwisko</label>
            <td><input type="text" class="form-control" placeholder="Podaj nazwisko" id="surname" name="surname" th:value="*{surname}"/></td>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <td><input type="text" class="form-control" placeholder="podaj email" id="email" name="email" th:value="*{email}"/></td>
        </div>

        <select th:field="*{sex}">
            <option th:each="plec : ${listaPlci}" th:value="${plec}" th:text="${plec.name}">Plec X</option>
        </select>

        <button class="btn btn-primary" type="submit">Zapisz edytowanego usera</button>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>