<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista uzytkownikow</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>

<body>
    <div class="container">
        <!--<a href="/wyloguj">Wyloguj</a>-->
        <form sec:authorize="isAuthenticated()" th:action="@{/wyloguj}" method="post"><button type="submit">Wyloguj</button> </form>
        <table class="table">
            <thead>
                <th>Login</th>
                <th>Imie</th>
                <th>Naziwko</th>
                <th>Email</th>
                <th>Plec</th>
                <th>Edycja</th>
                <th>Usun</th>
            </thead>
            <tbody>
                <tr th:each="uzytkownik : ${lista}">
                    <td th:text="${uzytkownik.name}">admin</td>
                    <td th:text="${uzytkownik.firstName}">Szymon</td>
                    <td th:text="${uzytkownik.surname}">Dembek</td>
                    <td th:text="${uzytkownik.email}">szymon@wp.pl</td>
                    <td th:if="${uzytkownik.sex != null}" th:text="${uzytkownik.sex.name}">Mezczyzna</td>
                    <td th:if="${uzytkownik.sex == null}">nieznana</td>
                    <td><a class="btn btn-warning" th:href="@{/myUsers/edit/{userId}(userId=${uzytkownik.id})}">Edycja</a></td>
                    <td><a class="btn btn-danger" th:href="@{/myUsers/delete/{userId}(status=1,userId=${uzytkownik.id})}">Usun</a></td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Nawigacja po stronach">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:href="@{/myUsers(page=0)}" aria-label="First">
                        <span aria-hidden="true">&lt;&lt;</span>
                        <span class="sr-only">First</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/myUsers(page=${lista.hasPrevious() ? lista.previousPageable().pageNumber : 0})}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" th:text="|${lista.number + 1} out of ${lista.getTotalPages()}|">
                        1 of 1
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/myUsers(page=${lista.hasNext() ? lista.nextPageable().pageNumber : lista.getTotalPages() - 1})}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/myUsers(page=${lista.getTotalPages() - 1})}" aria-label="Last">
                        <span aria-hidden="true">&gt;&gt;</span>
                        <span class="sr-only">Last</span>
                    </a>
                </li>
            </ul>
        </nav>

        <a class="btn btn-primary" th:href="@{/myUsers/add}" th:text="#{nowy.user}">Nowy user</a>
    </div>
</body>
</html>