<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nowy uzytkownik</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Nowy uzytkownik</h2>
        </div>
        <div class="card-body">
            <form action="#" th:action="@{/myUsers/zapiszNowego}" method="post" th:object="${newUser}">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="name">Login</label>
                            <input th:errorclass="is-invalid" th:classappend="${#fields.hasAnyErrors() and not #fields.hasErrors('name')}? is-valid" type="text" class="form-control" placeholder="Podaj login" id="name" th:field="*{name}"/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                                Please provide a valid name.
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="firstName">Imie</label>
                            <input th:errorclass="is-invalid" th:classappend="${#fields.hasAnyErrors() and not #fields.hasErrors('firstName')}? is-valid" type="text" class="form-control" placeholder="Podaj imie" id="firstName" th:field="*{firstName}"/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                                Please provide a valid first name.
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="surname">Nazwisko</label>
                            <input th:errorclass="is-invalid" th:classappend="${#fields.hasAnyErrors() and not #fields.hasErrors('surname')}? is-valid" type="text" class="form-control" placeholder="Podaj nazwisko" id="surname" th:field="*{surname}"/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">
                                Please provide a valid surname.
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input th:errorclass="is-invalid" th:classappend="${#fields.hasAnyErrors() and not #fields.hasErrors('email')}? is-valid" type="text" class="form-control" placeholder="podaj email" id="email" th:field="*{email}"/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                                Please provide a valid email.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input th:errorclass="is-invalid" th:classappend="${#fields.hasAnyErrors() and not #fields.hasErrors('email')}? is-valid" type="password" class="form-control" placeholder="podaj hasło" id="password" th:field="*{password}"/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                Please provide a valid password.
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="sex">Sex</label>
                            <select class="form-control" id="sex" th:field="*{sex}">
                                <option th:each="plec : ${listaPlci}" th:value="${plec}" th:text="${plec.name}">Plec X</option>
                            </select>
                        </div>

                        <button class="btn btn-primary" type="submit" value="">Zapisz nowego usera</button>

                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h3>Role uzytkownika</h3>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <th>Rola</th>
                                    <th>Usun</th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="rola, rowStat : *{roles}">
                                        <td th:text="${rola.name}">Admin</td>
                                        <td><a class="btn btn-danger" th:href="@{/myUsers/userWithRoles/removeRole(role=${rowStat.index})}">Usun rolę</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <div class="row mt-3">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Dodaj rolę do użytkownika</h3>
                        </div>
                        <div class="card-body">
                            <form action="#" th:action="@{/myUsers/userWithRoles/addRole}" th:object="${newRole}" method="post">
                                <div class="form-group">
                                    <label for="role">Roles</label>
                                    <select class="form-control" id="role" th:field="*{roleId}">
                                        <option th:each="rola : ${listaRol}" th:value="${rola.id}" th:text="${rola.name}">Rola Admin</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Dodaj rolę</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>